@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(253, 251, 251);
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  font-family: Montserrat,sans-serif;
}

#cabecalho {
  background-color: rgb(216, 154, 175);
  position: fixed;
  top: 0;
  width: 1366px;
  height: 70px;
}

#titulo {
  margin-top: 20px; 
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px; /*espaçamento entre as letras*/
}

nav ul li{
  display: inline-block;
  margin-left: 45px;
}

#lista-cabecalho {
  position: absolute;
  margin-left: 500px;
}

#home {
  position: relative;
}

#main {
  margin: 91px 0 0 0;
  
}

#minha_foto {
  width: 270px ;
  top: 60px;
  border-radius: 20%;
  border: 15px solid rgb(153, 119, 124);
  margin: 40px 500px;
}

#licoes {
  margin: 20px;
  position: relative;
  margin:80px 120px; 
} 

.li-aprendidas, .li-aprender {
  display: inline-block;
  margin: 0 50px;

}
 #licoes_aprendidas, #licoes_a_aprender {
   margin-left: 161px;
   
 }

 .titulo-center {
  text-align: center;
}

#lado-esquerdo-direito {
  background-color: rgb(221, 218, 218);
  height: 250px;
   color: rgb(44, 25, 25); 
  padding: 5px 5px 5px 5px;
  
    
}

#esquerdo-direito {
  margin: 23px;
}

.lado-esquerdo, .lado-direito {
  background-color: rgb(214, 166, 166);
  padding: 30px;
  text-align: justify;
  display: inline-block;
  
}



.lado-esquerdo {
  width: 750px ;
  height: 150px; 
  float: left;
  display: inline-block;
}

.lado-direito {
  width: 350px;
  height: 150px;
  margin-left: 2px;
  float: right;
  display: inline-block;
}

.tabela {
  margin: 50px 0;
}

table {
  margin-left: 603px;
}

#rodape {
  background-color: rgb(199, 171, 199);
  height: 240px;
  position: relative;
}

.nome-tribo {
  
  position: absolute;
  margin-top: 40px;
  text-align: center;
  margin-left: 350px;
}

.contato-redes-sociais{

  margin-top: 110px;
  margin-left: 290px;
  position: absolute;
}
.contato-redes-sociais ul li a {
  background-color: rgb(179, 113, 135);
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

#botao {
  background-color: rgb(21, 150, 21);
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  position: absolute;
  margin-top: 150px;
  margin-left: 510px;

}